.ima {
    width: 170.92px;
    height: 230px;
    
}
.ima2 {
    width: 170.92px;
    height: 230px;
}
.ima3 {
    width: 170.92px;
    height: 230px;
  
}
.ima4 {
    width: 170.92px;
    height: 230px;

}
.ima5 {
    width: 170.92px;
    height: 230px;
    
}
.ima6 {
    width: 170.92px;
    height: 230px;
    
}
#box1 {
    display: inline-block;
}
#box2 {
    display: inline-block;
}
#box3 {
    display: inline-block;
}
#box4 {
    display: inline-block;
}
#box5 {
    display: inline-block;
}
#box6 {
    display: inline-block;
}